################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Findit/.vs/Findit/v15
/Findit/.vs/Findit/v16/Server/sqlite3
/.vs
